.cards {
  padding-top: 20px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  max-width: 1401px; /* Fixed 3 columns per row */
  gap: 40px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
}

@media screen and (max-width: 672px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
