.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card__delete-btn {
  /* TO-DO Style Button */
  width: 32px;
  height: 32px;
  background-image: url(../images/delete.svg);

  /* Border and background reset */
  border: none;
  background-color: transparent;

  /* Keep size and cursor */
  background-size: cover;
  cursor: pointer;

  /* Initial opacity */
  opacity: 1;

  /* Positioning */
  position: absolute;

  top: 10px;
  right: 10px;
}

/*HOVER STATE FOR DELETE BUTTON */
.card__delete-btn:hover {
  width: 32px;
  height: 32px;
  background-image: url(../images/delete-hover.svg);

  /* Border and background reset */
  border: none;
  background-color: transparent;

  /* Keep size and cursor */
  background-size: cover;
  cursor: pointer;

  /* Set opacity to full on hover */
  opacity: 1;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  background-size: cover;
  cursor: pointer;
}

/* Liked state for the like button */
.card__like-btn_liked {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

/* Hover effect for the like button */
.card__like-btn:hover {
  opacity: 1;
}

/* Hover effect for the liked state of the like button */
.card__like-btn_liked:hover {
  opacity: 0.4;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 672px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    max-width: 250px;
  }
}
