.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;

  opacity: 0;
  transition:
    visibility 0s 0.5s,
    opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  /* This is necessary otherwise it doesn't fade in*/
  transition:
    visibility 0s,
    opacity 0.5s linear;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  /* Added border radius*/
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent; /* Make button's background invisible if needed */
  border: none; /* Remove any borders */
  cursor: pointer; /* Pointer cursor on hover */
  opacity: 0.4;
}

.modal__close_type_preview {
  top: 0;
  right: -32.5px;
  stroke: white;
  opacity: revert;
}

/*When hovering over the close button it goes from grey to black*/
.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

/*When hovering over the preview close button it goes from white to grey*/
.modal__close_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #212121b2;
}

.modal__input {
  padding: 16px 12px;
  border: 1px solid #21212166;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  font-family: Poppins, Arial, sans-serif;
  color: #212121;
}

.modal__input_type_error {
  border: 1px solid #ff000099;
}

.modal__input::placeholder {
  font-weight: 500; /* Regular weight instead of 500 */
  color: #2121214d;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__error {
  display: block;
  color: #ff0000b2;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  width: 630px;
  height: 18px;
  opacity: 1;
}

.modal__submit-btn {
  width: 156px; /* Matches the Fill (156px) */
  height: 52px; /* Matches the Hug (52px) */
  border-radius: 8px; /* Rounded corners */
  background-color: #212121; /* Dark background color */
  color: #fcf5e5; /* Text color */
  font-size: 16px; /* Text size */
  font-weight: 500;
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 18px 32px; /* Top/Bottom & Right/Left Padding */
  text-align: center; /* Center the text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional subtle shadow */
}

.modal__submit-btn_disabled {
  opacity: 0.5;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background: #212121cc;
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

/* Need to review this on Figma*/
.modal__caption {
  color: white;
  position: absolute;

  /* Auto layout from Figma*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  width: 214px;
  height: 32px;
  margin-top: 8px;

  background: #212121;
  border-radius: 8px;

  /* Golden Gate bridge */

  width: 198px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (max-width: 488px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
    gap: 10px;
    font-size: 16px;
  }

  .modal__input_ .modal__input_ .modal__image {
    max-width: unset;
  }
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -38px;
    right: 0;
  }

  #preview-modal .modal__caption {
    font-size: 16px;
  }
}
