.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent; /* Make button's background invisible if needed */
  border: none; /* Remove any borders */
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.modal__input {
  padding: 16px 12px;
}

.modal__submit-btn {
  width: 276px; /* Matches the Fill (276px) */
  height: 52px; /* Matches the Hug (52px) */
  border-radius: 8px; /* Rounded corners */
  background-color: #212121; /* Dark background color */
  color: white; /* Text color */
  font-size: 16px; /* Text size */
  font-weight: bold; /* Bold text */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 18px 32px; /* Top/Bottom & Right/Left Padding */
  text-align: center; /* Center the text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional subtle shadow */
}

@media screen and (max-width 672px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
