.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #212121b2;
  opacity: 70%;
}

.content {
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
